html, body, #container {
	height: 1000px;
	width: 1000px;
	text-align: center;
}

button {
	margin: 5px auto 10px auto;
	font-size: 35px;
}

.row {
	height: 6%;
	width: 100%;
	margin: 1px;
}

.cell {
	height: 100%;
	width: 6%;
	background-color: black;
	display: inline-block;
	margin: 1px;
}

